<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ahmadbarazi_lab8">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".googleAuth.login_auth"></activity>
        <activity android:name=".googleAuth.reset_password" />
        <activity android:name=".googleAuth.signup_auth" />
        <activity android:name=".login.Login" />
        <activity android:name=".login.Register" />
        <activity android:name=".Home_page" /> <!-- <activity android:name=".layoutTests"></activity> -->
        <activity
            android:name=".layoutTests"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>